body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  /*background-color: #BBBBBB;*/
  /*background: url(../images/bg2.jpg) top left repeat, url(../images/bg2.jpg) top left no-repeat;
  background-attachment: fixed;
  background-position: top left;
  background-size: cover;*/
}

h1{
  padding-top: 30px;
  margin-left: 30px;
  font-size: 80px;
  font-weight: 800;
  color: white;
}

h2{
  margin-left: 40px;
  font-size: 40px;
  font-weight: 400;
  color: white;
}

h3 a {
  text-decoration: underline;
  color: white
}

.header {
  background-image:url("../images/books.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
}

.centering {
  margin: 0 auto;
  text-align: center;
  width: 800px;
}

.canva-embed {
  max-width: 700px;
  margin: 20px;
  padding: 75% 5px 5px 5px;
  background: rgba(0,0,0,0.03);
  border-radius: 8px;
}
